@charset "utf-8";
.header {
    position: fixed;
	z-index: 500;	
}
/*
 * Style module to display the meta navigation
 * .meta-nav
*/
.meta-nav a{
	display: block;
	margin: 10px 0;
	padding: 0 5px;
	font-size: 12px;
	border-right: 1px solid #FFFFFF;	
}
.meta-nav a:hover{
	color: #FFFFFF;
}
.meta-nav .last a{
	border-right: none;	
}
/* 
 * Style module to display the main navigation
 * .main-nav
 * 
*/
.main-nav {
	position: relative;	
}
.main-nav ul{
	display: inline-block;
	float: left;
	border-left: thin solid #000000;
	border-right: thin solid #999999;	
}
.main-nav a{
	display: block;
	padding: 16px 11px;
	color: #F2F2F2 !important;
	border-right: thin solid #000000;
	border-left: thin solid #999999;
	text-shadow: 0 -1px 0 #000000;
}
.main-nav a:hover{
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #7e7e7e 2%, #4d4d4d 98%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#7e7e7e), color-stop(98%,#4d4d4d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#7e7e7e 2%,#4d4d4d 98%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#7e7e7e 2%,#4d4d4d 98%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#7e7e7e 2%,#4d4d4d 98%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#7e7e7e 2%,#4d4d4d 98%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.main-nav a.active{
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #7e7e7e 2%, #4d4d4d 98%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#7e7e7e), color-stop(98%,#4d4d4d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#7e7e7e 2%,#4d4d4d 98%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#7e7e7e 2%,#4d4d4d 98%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#7e7e7e 2%,#4d4d4d 98%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#7e7e7e 2%,#4d4d4d 98%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
.mobile-nav {
	display: none;	
}
.logo {
	position: absolute;
	width: 140px;
	height: 70px;
	top: -30px;
	left: 15px;
}
.logo-anchor {
	border-right: none !important;
	border-left: none !important;
	padding: 0 !important;	
}
.logo-anchor:hover {
	background: none !important;
}
.max-width-lg {
	max-width: 1025px;
}
.bg-bar-dark {
	background-color: #289CB3;
}
.bg-bar-dark a{
	color: #FFFFFF;
}
.bg-bar-gradient {
background: #f2f2f2; /* Old browsers */
background: -moz-linear-gradient(top,  #f2f2f2 0%, #808080 2%, #4d4d4d 50%, #333333 98%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(2%,#808080), color-stop(50%,#4d4d4d), color-stop(98%,#333333), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#808080 2%,#4d4d4d 50%,#333333 98%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f2f2f2 0%,#808080 2%,#4d4d4d 50%,#333333 98%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f2f2f2 0%,#808080 2%,#4d4d4d 50%,#333333 98%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f2f2f2 0%,#808080 2%,#4d4d4d 50%,#333333 98%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
/*
 * Style container for content
 * Begin: .content, .content-header, .content-internal, .content-center
 * Content selectors style the content area of the site for spacing, backgrounds and positioning
 * .content - base style for the module, all content uses this selector
 * .content-header - provides sufficient padding to accommodate the fixed navigation area
 * .content-internal - internal site pages
 * .content-center - center align text in a content area
*/
.content {
	position: relative;
	padding-top: 20px;
}
.content-header{
	padding-top: 109px;
}
.content-internal{
	background-color: #F2F2F2;
	border: 1px solid #965619;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.content-center{
	text-align: center;
}

/*
 * Author: dmohr
 * Begin: .main-promo
 * Styles main promotional content area on home page
 */
.main-promo{
	width: 80%;
	margin-left: auto;	
	margin-right: auto;
	margin-top: 6%;
	margin-bottom: 1%;
}
.main-promo p{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	color: #754C24;
	margin-bottom: 30px;
	margin-top: 10px;
}
.main-promo h1{
	font-family: 'Playball', cursive;
	font-size: 80px;
	color: #532C87;
	text-shadow: 1px 1px 3px #000000;
	width: 370px;
	height: 115px;
	padding: 0px 44px;
	margin-top: 0;
	margin-bottom: 0;
	background: url(assets/diamond-line.png) no-repeat 0 0,
				url(assets/diamond-line.png) no-repeat 0 93px;
}
.main-promo h2 {
	margin-top: 0;
	margin-bottom: 0;
}
.main-promo h2 a{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 80px;
	color: #532C87;
	text-shadow: 2px 0px 0 #9890A3,
				 2px -2px #9890A3,
				 -2px 0px #9890A3,
				 -2px -2px 0 #9890A3,
 				 2px 2px 0 #9890A3,
				 0 2px #9890A3,
				 -2px 2px #9890A3,
				 
				 4px 3px 0 #532C87,
				 -4px 3px 0 #532C87,
				 4px -1px 0 #532C87,
				 -4px -1px 0 #532C87,
				 3px 4px 0 #532C87,
				 4px 0px 0 #532C87,
				 -2px 4px 0 #532C87,
				 
				 4px 0px 0 #532C87,
				 4px -4px 0 #532C87,
				 -4px 0px 0 #532C87,
				 -4px -4px 0 #532C87,
				 4px 4px 0 #532C87,
				 0 4px 0 #532C87,
				 -4px 4px #532C87;
}
.main-promo h2 a:hover{
	text-decoration: none;
	color: #532C87;
}
.main-promo .node-readmore{
	display: none;
}

/*
 * Author: dmohr
 * Begin: .feature, .feature-title, .feature-list, .feature-link
 */
.feature{
	background-color: #E6E6E6;
	border: 1px solid #289CB3;
	box-shadow: 0 0 2px #000000;
}
.feature-title{
	position: relative;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
	width: 100%;
	background: #333333;
	color: #666666;
	font-size:	24px;
	font-weight: 400;
}
.feature-list{
	list-style-type: none;
	margin: 10px 10px 25px 10px;
	padding-left: 0;
}
.feature-link{
	color: #289CB3;
	border-bottom: 1px solid #000000;
	width: 100%;
	display: block;
	padding-bottom: 5px;
	margin-bottom: 12px;
}
.feature-link:hover{
	text-decoration: none;
	color: #A9D7A0;
}
.horizontal-rule-thick{
	border-bottom: thick solid #000000;
	padding-bottom: 20px;
}

/*
 * Author: dmohr
 * Begin: .section-title
 * Styles the internal page section display
 */
.section-title{
	font-family: 'Playball', cursive;
	font-size: 24px;
	color: #965619;
	border-bottom: 1px solid #965619;
}

/*
 * Author: dmohr
 * Begin: .footer
 * Styles the footer
 */
.footer {
	position: relative;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #000000;
}
.footer-main-nav ul{
	list-style-type: none;
}
.footer-main-nav ul li a{
	color: #FFFFFF;
}
.footer-meta-nav{
	border-top: 1px solid #FFFFFF;
	color: #FFFFFF;
	padding-top: 20px;
}
.footer-meta-nav a{
	color: #FFFFFF;
}
.full-width {
	width: 100%;	
}
.list-horizontal {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.list-horizontal li {
	float: left;
	display: inline-block;
}
.list-horizontal li a:hover{
	text-decoration: none;
}

/*
 * Author: dmohr
 * Begin: .btn
 * Styles the button module
 */
.btn {
	display: inline-block;
}
.btn-fixed-width {
	width: 150px;
}
.btn-fixed-width a {
	display: block;
	text-align: center;
}
.btn-primary a {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #289CB3;
	color: #FFFFFF;
	font-size: 14px;
}
